<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
   
  </head>
  <body>
    <div id = "maker">
      <a href= "home.html">Sign in</a>
    </right>
    
    <center>
    <h1>
      <a href= "localhost:10080">Sporsy</a>
    </h1>
    </center>


    <center>
      <h1>
        <p>
          <strong>
            Sports Made Easy
          </strong>
        </p>
      </h1>
    </center>

    <center>
      <ul>
        <p>basketball</p>
        <p>baseball</p>
        <p>competitive under water basketweaving<p>
      <ul>
    </center>

  </body>
</html>


<style>
a:link {
  color: black; 
  background-color: transparent; 
  text-decoration: none;
}

a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: black;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: blue;
  background-color: transparent;
  text-decoration: underline;
}
</style>


