<!DOCTYPE html>
<html>

  

  <head>
    <meta charset="utf-8">
  </head>
  <body>
    
    
    
    
      <a href= "home.html">Sign in</a>

    <center>
      <h1>
        <a href= "localhost:10080">Sporsy</a>
      </h1>
    </center>


<!--
    <form method = "post">
      <input type = "text" name = "name">
    </form>
-->

    <center>
      <h1>
        <p>
          <strong>
            Sports Made Easy
          </strong>
        </p>
      </h1>
    </center>

    <center>
      <ul>
        <p><a href= "basketball.html">Basketball</a></p>
        <p><a href= "baseball.html">baseball</p>
        <p><a href= "basketweaving.html">competitive under water basketweaving<p>
      <ul>
    </center>

  </body>
</html>


<style>
a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: blue;
  background-color: transparent;
  text-decoration: underline;
}
</style>
